[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .collections
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
callbacks_enabled = profile_tasks

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining = true
